#panel{
    top:55%
}
/* tab */
.tabs {
    overflow: auto;
    border: 1px solid #ccc;
    background-color: #eee;}
.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.tabs button:hover{
    background-color: #ccc;}
.tabs button:active{
    background-color: #bbb;}

/* panel */
.panel{
    border: solid #ddd 1px;
    background-color: #eee;
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 30%;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sub-panel{
    border: 3px solid;
    border-radius: 15px;
    border-color: blue;
}
.sub-panel-B{
    grid-column: 2/4;

    border: 3px solid;
    border-radius: 15px;
    border-color: blue;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0% 50% 50%;
}
.pTitle{
    color: blue;
    font-weight: bold;
}
.pTitle-B{
    color: blue;
    font-weight: bold;
    grid-row: 0;
    grid-column: 0/2;
}
/* control-box */
.control-box-4{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 40% 40%;
}
.ppt-title{
    font-weight: bold;
    font-size: 20;
}
.selector-B{
    width: 75%;
    font-size: 18;
}
.selector{
    height: 60%;
    width: 40%;
    margin-top: 5%;
    margin-left: 10%;
}
.range-bar{
    margin-top: 5%;
}
.range-bar-tx{
    height: 60%;
}
.value-box{
    height: 60%;
    width: 40%;
    margin-top: 5%;
    margin-left: 10%;
}

.options{
    font-size: 20;
    font-family:'Arial Narrow Bold', sans-serif ;
    padding: 3;
    margin: 3;
    width: 80%;
    left: 50%;
    background-color: red;
    color:white;
    border-radius: 10px;
    transition-delay: 4ms;
    transition-duration: 4ms;
}

.options:hover{
    font-weight: bolder;
    transition-delay: 4ms;
    cursor: pointer;
}
